body {
  width: 100%;
  height: 100%;
  margin: 0;
}
h1,nav,figcaption{
  text-align:center;
}

.top-link{
  padding:10px 10px;
  background-color: grey;
}
img{
  display: block;
 margin-left: auto;
 margin-right: auto;
}
.paragraph{
  width:800px;
  text-align: center;
  margin-left: 320px;
}

#details div{
  float:left;
  background-color: red;
  width:25%;
  text-align:center;
}
